/*
  ================================================
  Handcrafted by Markus Danek <markus.danek@gmail.com>
  Last updated on 08.07.2015
  Main.css Stylesheet
  ================================================
  Contents:
  01    Basic
  ================================================
*/

  /* ----------------------------------------------------------------------------------------------------------
  01 Basic ----------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------- */

html, 
body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
	background: #FFF;
	color: #000;
	font-family: "Helvetica", "Arial";
}